.small1,.big1,.small2pod3,#center1{


color:white;
}
#info{
    color:red;
}
.but1{
    text-align:center;
    display:block;
    width:40px;
    height:40px;
    float:left;
   
    font-size:35px;
    margin:1px;
}
.but2 {
    width: 40px;
    height: 40px;
    font-size: 35px;
    margin: 1px;
    text-align: center;
    border:solid 2px red;
    background-color:black;
    color:red;
}
.but1:hover,.but2:hover {
    background-color: grey;
    color: black;
    
}
.big1
{
border: rgb(107, 107, 107) solid 2px;
border-radius: 25px;
width: 200px;
height:200px

}
.small1{
width:99%;
height:50px;

margin:1.5px;
}
table{
    
    
}
#p1{
    
    font-size:65px;
    text-align:center;
    color:white;
}
#akcje{
    float:left;
    width:23%;
    width:73px;
}
#center1{
    width:30%;
    
    color:white;
    font-size:30px;
    float:left;
    text-align:center;
    margin:2px;
    padding:3px;
}
#center2{

}
.ekwipunek {
    width: 130px;
    float: left;
   
    
    margin: 3px;
    height: 270px;
    padding: 2px;
}
.left1{
    float:left;
    width:20%;
    margin: 3px;
    height:100%;
    padding: 2px;
    
}
#left3{
    float:left;
    width:37%;
    margin: 3px;
    height:100%;
    padding: 2px;
}
body{
    background-color:black;
    color:white;
    font-family:Alef;
}